{{! Partial: Copyright }}

<section class="copyright">
    <div class="copyright__disclaimer">{{t ""}} &copy; <a href="{{@site.url}}" class="copyright__anchor">{{@site.title}}</a> {{date format="YYYY"}}</div>
    <div class="copyright__rights">
        {{!-- {{t "All rights reserved."}} --}}
        {{!-- <span class="copyright__published">{{{t "Published with <a href='https://ghost.org/' class='copyright__ghost'>Ghost</a>"}}}.</span> --}}
    </div>
</section>
