{{! Template: Error - 404 }}
{{!< default}}

<header class="header header--tall header--error">
    {{!-- {{#if @site.cover_image}}
        <div class="header__background">
            <picture class="header__picture">
                <img
                    class="header__image"
                    srcset="{{img_url @site.cover_image size="320"}} 320w,
                        {{img_url @site.cover_image size="480"}} 480w,
                        {{img_url @site.cover_image size="800"}} 800w,
                        {{img_url @site.cover_image size="1120"}} 1120w,
                        {{img_url @site.cover_image size="1440"}} 1440w,
                        {{img_url @site.cover_image size="1680"}} 1680w"
                    sizes="(min-width: 1660px) 1485px, 90vw"
                    src="{{img_url @site.cover_image size="1680"}}"
                    alt="{{@site.title}}"
                />
            </picture>
        </div>
    {{/if}} --}}
    <div class="header__content">
        {{!-- <div class="header__upper">
            <section class="header__logo logo">
                <h1 class="logo__title">
                    {{#if @site.logo}}
                        <a href="{{@site.url}}" class="logo__anchor">
                            <img src="{{@site.logo}}" class="logo__image" alt="{{@site.title}}" loading="lazy" />
                        </a>
                    {{else}}
                        <a href="{{@site.url}}" class="blog-info__anchor">{{@site.title}}</a>
                    {{/if}}
                </h1>
            </section>
            {{> "menu" class="header__menu menu--row menu--light"}}
        </div> --}}
        <section class="header__main header__main--wide error-title">
            <div class="error-title__code">{{statusCode}}</div>
            {{!-- <h1 class="error-title__header">{{message}}</h1> --}}
            <p class="error-title__description">{{t "The page you were looking for cannot be found, it may have been moved or no longer exists. Navigate back to the homepage by clicking below."}}</p>
            <a href="{{@site.url}}" class="error-title__button">
                {{> "svg/home" class="error-title__button-icon"}}
                <span class="error-title__label">{{t "Homepage"}}</span>
            </a>
        </section>
    </div>
</header>
